body{
    background-color:#ECE2E1;
   
}
form {
    text-align: center;

}
input {
    border-radius:15px;
    border:#AEE1E1 solid 1px;
    padding:4px 4px;
}
button {
    background: transparent;
    border: none;
    margin-left: -33px;
}
.hint{
    text-align: center;
    font-size: 11px;
    color:#333;
}

