.Results h2{
    font-size: 40px;
    line-height: 1;
    margin:20px 0;
}
.Results section {
    margin:10px;
    background-color:#FCD1D1 ;
    border-radius: 10px;
    padding:20px 10px;
    box-shadow: 0 10px 10px rgb(0 0 0/10%);
}
